@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: transparent !important;
  color: #acacac !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac !important;
  opacity: 1; /* Firefox */
}